<%= form_for @health_status, remote: request.xhr? do |f| %>
  <% unless @health_status.created_at.nil? %>
    <h3><%= @health_status.created_at.strftime("%A %b %e, %l:%M %P") %></h3>
  <% end %>

  <div class="form-group mindfulness-form-group">
    <%= f.label :mindfulness %>
    <div class="range-wr">
      <%= f.range_field :mindfulness, { min: 0, max: 10 } %>
    </div>
  </div>

  <div class="form-group physically_active-form-group">
    <%= f.label :physically_active %>
    <div class="range-wr">
      <%= f.range_field :physically_active, { min: 0, max: 10 } %>
    </div>
  </div>

  <div class="form-group happiness-form-group">
    <%= f.label :happiness %>
    <div class="range-wr">
      <%= f.range_field :happiness, { min: 0, max: 10 } %>
    </div>
  </div>

  <div class="form-group diet-form-group">
    <%= f.label :diet %>
    <div class="range-wr">
      <%= f.range_field :diet, { min: 0, max: 10 } %>
    </div>
  </div>

  <div class="form-group mentally_active-form-group">
    <%= f.label :mentally_active %>
    <div class="range-wr">
      <%= f.range_field :mentally_active, { min: 0, max: 10 } %>
    </div>
  </div>

  <div class="form-group socially_active-form-group">
    <%= f.label :socially_active %>
    <div class="range-wr">
      <%= f.range_field :socially_active, { min: 0, max: 10 } %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
