<%= form_for @health_status, remote: request.xhr? do |f| %>
  <% unless @health_status.created_at.nil? %>
    <h3><%= @health_status.created_at.strftime("%A %b %e, %l:%M %P") %></h3>
  <% end %>
  
  <div class="form-group">
    <%= f.label :mindfulness %>
    <%= f.range_field :mindfulness, { min: 0, max: 10 } %>
  </div>

  <div class="form-group">
    <%= f.label :physically_active %>
    <%= f.range_field :physically_active, { min: 0, max: 10 } %>
  </div>

  <div class="form-group">
    <%= f.label :happiness %>
    <%= f.range_field :happiness, { min: 0, max: 10 } %>
  </div>

  <div class="form-group">
    <%= f.label :diet %>
    <%= f.range_field :diet, { min: 0, max: 10 } %>
  </div>

  <div class="form-group">
    <%= f.label :mentally_active %>
    <%= f.range_field :mentally_active, { min: 0, max: 10 } %>
  </div>

  <div class="form-group">
    <%= f.label :socially_active %>
    <%= f.range_field :socially_active, { min: 0, max: 10 } %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
