<li id="<%= dom_id(goal) %>" class="goal <%= "completed-goal" if goal.week_completed? %>">
  <%= link_to goal do %>
    <span class="goal-name"><%= goal.name %></span>
    <span class="completion_count">
      <span class="goal_completes"><%= goal.completions %></span>/<%= number_to_human(goal.frequency) %>
    </span>
  <% end %>
  <button type="button" class="complete_now_button" data-url="<%= complete_now_goal_path(goal) %>">Did It</button>
</li>
