<li id="<%= dom_id(goal) %>" class="inactive_goal goal">
  <%= link_to goal do %>
    <span class="goal-name"><%= goal.name %></span>
    <span class="goal-frequency"><%= "#{goal.frequency} times per week" %></span>
  <% end %>
  <div class="goal-actions pull-right">
    <button class="reactivate_goal_button btn btn-default">Reactivate Goal</button>
    <%= link_to "Permanently Delete Goal", goal, class: "btn btn-default", method: :delete, data: {confirm: "Are you sure you want to permanently delete #{goal.name}? (This action can't be undone)"} %>
  </div>
</li>
